# Este arquivo define os proprietários do código
# Os proprietários serão automaticamente solicitados para revisão quando alguém abrir um pull request

# Proprietários padrão para todo o conteúdo neste repositório
* @wanderson-martins-silva